@{
    ViewBag.Title = "OS Sim";
}

<h1>Initialize Program</h1>
<form id="startup">
    <label for="totalMemorySize">Total Memory Size</label>
    <input type="number" id="totalMemorySize" />

    <label for="allocationStrategy">Allocation Strategy</label>
    <select id="allocationStrategy">
        <option value="firstFit">First Fit</option>
        <option value="bestFit">Best Fit</option>
        <option value="worstFit">Worst Fit</option>
    </select>

    <input type="submit" value="Start" id="startProgram" />
</form>

<h1>Add Process</h1>
<form id="process">
    <label for="processId">PID</label>
    <input type="number" id="processId" />

    <label for="memorySize">Process Memory Size</label>
    <input type="number" id="memorySize" />

    <label for="duration">Duration (in clock cycles)</label>
    <input type="number" id="duration" />

    <label for="delay">Start delay</label>
    <input type="number" id="delay" />
    <span>(Start time = current clock time + delay)</span>

    <input type="submit" value="Create PCB" id="addPCB" />
</form>

<h1>System State</h1>
<h2>Clock</h2>
<input type="number" readonly id="clock" />
<input type="button" value="Increment" id="incrementClock" />
<input type="button" value="Reset Program" id="reset" />

<h2>Process Queue</h2>
<ul id="processQueue"></ul>

<h2>System Memory</h2>
<div id="memory"></div>
